* { margin: 0; padding: 0; outline: 0; border: 0; }


/* HTML5 tags */
head, container, content, footer, figure {
	display: block;
}

@font-face {
	font-family: ;
}

/*#container { width: 960px; background-color:#CCCCCC }*/
#container { width: max; background-color:#CCCCCC }

header { position: relative; padding-bottom: 15px; text-align: center;}

h1 { color: #000; font-size: 30px; position: relative; top: 30px; 
		bottom: 15px; text-align: center;}

h2 { color: #000; font-size: 14px; position: relative; top: 30px; padding-top: 20px; 
		 text-align: center;}

#content { padding-top: 70px; padding-bottom: 60px; padding-left: 10px; text-align: center;}

input[class="encode"] { width: 160px; height: 10px; border-spacing: 20px; }
input[class="decode"] { width: 354px; height: 10px; }

input { background-color: rgba(255, 255, 255, 2); border: none; padding: 10px; 
	font-family: Keffeesatz, Arial; 
	color: #999999; font-size: 12px; -webkit-border-radius: 3px; 
	-webkit-box-shadow: 0px 2px 0px rgba(153, 153, 153, 0.4);
	margin-bottom: 15px; margin-right: 10px;
	margin-top: 0px; }

input[type="button"] { border: none; cursor: pointer; color: #FFF; font-size: 12px;
 background-color: #66CCFF; padding: 8px 36px 8px 36px; -webkit-border-radius: 3px;
 -webkit-box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.12);
  border-bottom: 0px solid rgba(0, 0, 0, 0.4); border-top: 0px solid 
  rgba(255, 255, 255, 0.6);
  text-shadow: 5px 5px 5px rgba(153, 153, 153, 0.4);

  background-image: linear-gradient(bottom, rgb(1,162,221) 34%, rgb(0,172,235) 67%);
  background-image: -o-linear-gradient(bottom, rgb(1,162,221) 34%, rgb(0,172,235) 67%);
  background-image: -moz-linear-gradient(bottom, rgb(1,162,221) 34%, rgb(0,172,235) 67%);
	background-image: -webkit-linear-gradient(bottom, rgb(1,162,221) 34%, rgb(0,172,235) 67%);
	background-image: -ms-linear-gradient(bottom, rgb(1,162,221) 34%, rgb(0,172,235) 67%);

	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.34, rgb(1,162,221)),
	color-stop(0.67, rgb(0,172,235))
	);	
}

p { color: #FF0000; font-size: 14px; position: relative; top: 0px; 
		bottom: 15px; text-align: center;}

footer { background-color:#CCCCCC; clear:both; text-align:center; padding-top: 0px; padding-bottom: 90px;
				 padding-left: 200px; padding-right: 200px; }

#Copyright { float: left;}

p2 { color: #000; font-size: 10px;}

#links { float: right; font-size: 12px;}

a:link { color: #0066CC;}

a:visited { color: #0099CC;}

/* @media Rule */
@media all and (max-width: 819px){
	#Copyright, #links {
		float:none; 
	}
	footer {
		padding-left: 0px;
		padding-right: 0px;
	}
}

@media all and (max-width: 395px){
	input {
		margin-right: 45px;
	}
	input[class="decode"] {
		width: 90%; height: 10px;
	}
}

}
